div.cm-details-description {
    clear: both;
}

div.cm-details-description-col1 {
    padding-left: 10px;
    width: 48%;
    float: left;
}

div.cm-details-description-col2 {
    padding-right: 10px;
    width: 48%;
    float: right;
    clear: right;
    text-align: center;
}

div.cm-save-location {
    float: right;
}

span.cm-details-description-header {
}

span.cm-building-name {
    font-size: 3em;
    float: left;
}

img.cm-bookmark {
    width: 80px;
    height: 80px;
}

img.cm-building-image {
    width: 90%;
    height: 90%;
}

ul.cm-hours {
}

ul.cm-checkins {
}


