div.cm-details-description {
    clear: both;
    font-size: 2em;
}

div.cm-details-description-col1 {
    padding-left: 10px;
    width: 48%;
    float: left;
}

div.cm-details-description-col2 {
    padding-right: 10px;
    width: 48%;
    float: right;
    clear: right;
    text-align: center;
}

div.cm-save-location {
    float: right;
}

div.cm-checkins {
    clear:both;
    padding-left: 10px;
}

span.cm-details-description-header {
    font-weight: bold;
}

span.cm-building-name {
    font-size: 3em;
    float: left;
    line-height: 80px;
    vertical-align: middle;
}

img.cm-bookmark {
    width: 80px;
    height: 80px;
}

img.cm-building-image {
    width: 90%;
    height: 30%;
}

