span.cm-dialog-class-at {
    font-size: 2em;
    font-weight: bold;
}

div.cm-dialog-navbar {
    font-size: 2em !important;
    padding-bottom: 200px;
}

div.cm-dialog-wrapper {
    clear: both;
    width: 90%px;
}
