span.cm-dialog-class-at {
    font-size: 2em;
    font-weight: bold;
}

span.cm-dialog-time {
    padding-bottom: 200px;
}

div.cm-dialog-navbar {
    font-size: 2em !important;
}

div.cm-dialog-wrapper {
    clear: both;
}
