div.cm-button {
    margin: auto;
    text-align: center;
}

div.cm-button-icon {
}

div.cm-button-label {
}

img.cm-button-icon {
    width: 128px;
    height: 128px;
}

img.cm-thumb-img {
    width: 80px;
    height: 80px;
    margin: auto;
}

label.cm-button-label {
    color: #000;
    font-size: 2em;
}

a.cm-button-link-wrapper {
    text-decoration: none;
    display: block;
}

a.cm-button-link-wrapper:active {
    background-color: #00AAFF;
}

h1 {
    font-size: 3em !important;
}

h3 {
    font-size: 3em !important;
}

span.cm-location {
    font-size: 2em !important;
    float: left;
}

span.cm-time {
    font-size: 2em !important;
    float: right;
}

[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}  
